<script src="https://kit.fontawesome.com/8c3165965e.js" crossorigin="anonymous"></script>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= flash[:notice] %>

<div class="container">
    <div class="row">
        <div class="mx-auto col-5">
        <h1>welcome to <i class="fas fa-book"></i><b>Bookers</b>!!</h1>

        <p>
            In <i class="fas fa-book"></i><b>Bookers</b>,<br>
            you can share and exchange your opinions, inpressions,<br>
            and emotions
        </p>
        
        <p>about various books!</p>
        
        <div class="btn-wrapper col-3 mx-auto">
            <div class="row">
                <%= link_to new_user_session_path do %>
                <button class="btn-block btn btn-primary" type="button">Log in</button>
                <% end %>
            </div>
            </br>
            <div class="row">
                <%= link_to new_user_registration_path do %>
                <button class="btn-block btn btn-success" type="button">Sign up</button>
                <% end %>
            </div>
        </div>
        </div>
    </div>
</div>