<script src="https://kit.fontawesome.com/8c3165965e.js" crossorigin="anonymous"></script>


<%= flash[:notice] %>

<div class="top">
      <h1>welcome to <i class="fa-solid fa-book"></i><b>Bookers</b>!!</h1>

<p>
    In <i class="fa-solid fa-book"></i><b>Bookers,</b><br>
    you can share and exchange your opinions, inpressions,<br>
    and emotions
</p>

<p>about various books!</p>

<div>
    <%= link_to "Log in", new_user_session_path %>
</div>
<div>
    <%= link_to "Sign Up", new_user_registration_path %>
</div>

</div>